$theme-colors: (
  "info": tomato,
  "danger": teal,
  "primary": #fccf68,
);

@import "~bootstrap/scss/bootstrap";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: url(/assets/bg.svg), #f7f7f7;
  background-repeat: repeat-x;
  animation: animatedBackground 100s linear infinite;
  font-family: Montserrat;


}
header{
  padding-top: 1rem;
}
main{
  margin: 3rem auto ;
  .card-image{
    img{
      transition: transform 1s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 5000px 0;
  }
}
.bg-blue {
  background-color: #5377f7;
}
.footer{
  p{
    color: #f7f7f7;
  }
}