.header {
  color: inherit;
  .row {
    // background-color: salmon;
    .col {
      display: flex;
      justify-content: space-between;
    }
  }
}
.logo_container {
  color: inherit;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-align: center;
}
.btn_signup_container {
  //   background-color: antiquewhite;
  margin-block: auto;
  .button {
    border-radius: 25px;
    padding-inline: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #111;
    @media screen and (max-width: 700px) {
        font-size: 17px;
        line-height: 20px;
      }
      @media screen and (max-width: 458px) {
        font-size: 16px;
        line-height: 18px;
      }
  }
}
.logo {
  max-width: 200px;
  @media screen and (max-width: 700px) {
    max-width: 170px;
  }
  @media screen and (max-width: 458px) {
    max-width: 150px;
  }
}
